// header
#header {
    overflow: hidden;
    z-index: 1200;
    position: fixed;
    left: 0;
    top: 0%;
    width: 100%;
    border-bottom: 1px solid #2e2e30;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: var(--fontSub);
    font-weight: 500;
    background: #000;

    a {
        color: #fff;
    }

    .header__port {
        flex: 0 0 auto;
        width: 25%;
        text-align: left;

        a {
            padding: 10px;
            margin: 10px;
        }
    }
    .header__logo {
        flex: 0 0 auto;
        width: 30%;
        text-align: center;
        font-size: 30px;
        margin: 15px;

        a {
            padding: 10px;
        }
    }
    .header__menu {
        flex: 0 0 auto;
        width: 25%;
        text-align: right;
        margin: 10px;

        li {
            display: inline;

            a {
                display: inline-block;
                padding: 10px;
            }
        }
    }
}



// foooter
#footer {  
    position: fixed;
    left: 0;
    bottom: 0;
    z-index: 1200;
    width: 100%;
    color: #fff;
    border-top: 1px solid #2e2e30;
    background: #000;
    @include flex-center;

    a {
        color: #fff;
    }

    div {
        text-align: center;
        padding: 30px;

        h4,
        p,
        ul {
            display: inline-block;
        }

        h4 {
            font-family: "Rajdhani", "Chosunilbo_myungjo";
            font-weight: 500;
            opacity: 0.6;
            padding: 0 10px;
        }
    }

    div:nth-child(1) {
        flex: 1 1 25%;
        border-right: 1px solid #2e2e30;
    }

    div:nth-child(2) {
        flex: 1 1 20%;
        border-right: 1px solid #2e2e30;
    }

    div:nth-child(3) {
        flex: 1 1 55%;

        li {
            display: inline-block;
            padding: 0 10px;
        }
    }
}


// footerInfo
#footerInfo {
    background-color: #000;
    height: 100vh;
}

.footer__info {
    height: 100vh;
    color: #fff;
    text-align: center;
    @include flex-center;

    p {
        font-size: 20px;
        font-family: var(--fontSub);
        margin-bottom: 80px;
    }
    h3 {
        font-size: 10vmax;
        font-family: var(--fontMain);
        line-height: 1;
        text-transform: uppercase;
        margin-bottom: 5rem;
    }
    a {
        color: #fff;
        border: 1px solid #fff;
        border-radius: 50px;
        padding: 18px 53px 18px 53px;
        font-size: 16px;
        text-transform: uppercase;
        font-family: var(--fontSub);
        transition: all 0.2s;

        &:hover {
            background: #fff;
            color: #000;
        }
    }
}

