// center
@mixin flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}
@mixin flex-space {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
}