@charset "UTF-8";

:root {
    font-size: 16px;

    --fontMain: 'saol';
    --fontSub: 'Rajdhani';
    --fontPlay: 'Playfair Display';
    --fontChosun: 'Chosunilbo_myungjo';
    --fontScore : 'S-CoreDream';
}