@font-face {
  font-family: "NEXONLv1Gothic";
  font-weight: 300;
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/NEXON Lv1 Gothic OTF Light.woff") format("woff");
  font-style: normal;
}
@font-face {
  font-family: "NEXONLv1Gothic";
  font-weight: 400;
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/NEXON Lv1 Gothic OTF.woff") format("woff");
  font-style: normal;
}
@font-face {
  font-family: "NEXONLv1Gothic";
  font-weight: 700;
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/NEXON Lv1 Gothic OTF Bold.woff") format("woff");
  font-style: normal;
}
@font-face {
  font-family: "NEXONLv2Gothic";
  font-weight: 300;
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/NEXON Lv2 Gothic Light.woff") format("woff");
  font-style: normal;
}
@font-face {
  font-family: "NEXONLv2Gothic";
  font-weight: 400;
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/NEXON Lv2 Gothic.woff") format("woff");
  font-style: normal;
}
@font-face {
  font-family: "NEXONLv2Gothic";
  font-weight: 700;
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/NEXON Lv2 Gothic Bold.woff") format("woff");
  font-style: normal;
}
body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
textarea,
p,
blockquote,
th,
td,
input,
select,
button,
figure,
figcaption {
  margin: 0;
  padding: 0;
}

.bg {
  position: relative;
  height: 100vh;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}
.bg::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: -1;
}

.bg0 {
  background-image: url(../img/bg0@2.jpg);
}

.bg1 {
  background-image: url(../img/bg1@2.jpg);
}

.bg2 {
  background-image: url(../img/bg2@2.jpg);
}

.bg3 {
  background-image: url(../img/bg3@2.jpg);
}

.bg4 {
  background-image: url(../img/bg4@2.jpg);
}

.bg5 {
  background-image: url(../img/bg5@2.jpg);
}

.bg6 {
  background-image: url(../img/bg6@2.jpg);
}

.bg7 {
  background-image: url(../img/bg7@2.jpg);
}

.bg8 {
  background-image: url(../img/bg8@2.jpg);
}

.bg9 {
  background-image: url(../img/bg9@2.jpg);
}

.bg10 {
  background-image: url(../img/bg10@2.jpg);
}

.bg11 {
  background-image: url(../img/bg11@2.jpg);
}

.bg12 {
  background-image: url(../img/bg12@2.jpg);
}

.bg13 {
  background-image: url(../img/bg13@2.jpg);
}

.bg14 {
  background-image: url(../img/bg14@2.jpg);
}

.bg15 {
  background-image: url(../img/bg15@2.jpg);
}

.bg16 {
  background-image: url(../img/bg16@2.jpg);
}

.bg17 {
  background-image: url(../img/bg17@2.jpg);
}

.bg18 {
  background-image: url(../img/bg18@2.jpg);
}

.bg19 {
  background-image: url(../img/bg19@2.jpg);
}

.bg20 {
  background-image: url(../img/bg20@2.jpg);
}

#main {
  width: 100%;
  height: 100vh;
  background: #11e8bb;
  background: linear-gradient(to bottom, #11e8bb 0%, #8200c9 100%);
}
#main.game {
  background: linear-gradient(to bottom, #6cd664 0%, #089a4c 100%);
}
#main.menu {
  background: linear-gradient(to bottom, #96D7D1 0%, #5DCAAF 100%);
}
#main.mouse {
  background: linear-gradient(to bottom, #64D6BD 0%, #7028C0 100%);
}
#main.parallax {
  background: linear-gradient(to bottom, #E36475 0%, #E394E9 100%);
}
#main.slider {
  background: linear-gradient(to bottom, #F0CF77 0%, #F0A688 100%);
}

#contents h1 {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-size: 10vw;
  white-space: nowrap;
  font-family: "Six Caps", sans-serif;
  font-weight: normal;
  text-transform: uppercase;
  letter-spacing: 1vw;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-image: linear-gradient(to bottom, #8200c9, #240038);
}

#nav {
  position: absolute;
  bottom: 20px;
  top: auto;
  left: 50%;
  transform: translateX(-50%);
}
#nav li {
  list-style: none;
  display: inline;
}
#nav li a {
  color: #fff;
  text-decoration: none;
  width: 100px;
  height: 40px;
  line-height: 40px;
  border: 1px solid #fff;
  display: inline-block;
  border-radius: 50px;
  font-size: 14px;
  text-align: center;
  margin: 4px;
  font-family: "NEXONLv1Gothic";
  box-shadow: inset 0 0 0 #fff;
  transition: all 0.4s;
}
#nav li a:hover {
  box-shadow: inset 0 -100px 0 #fff;
  color: #6c4a70;
}

@media (max-width: 800px) {
  #nav {
    width: 100%;
    text-align: center;
  }
  #nav li a {
    background: #fff;
    color: #000;
  }
}
.info {
  color: #fff;
  font-family: "NEXONLv1Gothic";
  padding: 20px;
  position: absolute;
  left: 0;
  top: 0;
}
.info.right {
  left: auto;
  right: 0px;
  top: 0px;
}
.info.bottom {
  top: auto;
  left: auto;
  bottom: 0;
  right: 0;
}
.info h1 {
  font-weight: 300;
  font-size: 20px;
  line-height: 1.6;
  border-bottom: 1px dashed #fff;
  display: inline-block;
  margin-bottom: 10px;
}
.info h1 a {
  color: #fff;
  text-decoration: none;
}
.info p {
  font-weight: 300;
  font-size: 16px;
}
.info li {
  list-style: none;
  display: inline;
}
.info li a {
  display: inline-block;
  text-decoration: none;
  color: #fff;
  border: 1px dashed #fff;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  line-height: 20px;
  text-align: center;
  font-size: 12px;
  margin-bottom: 5px;
}
.info li.active a {
  background: #fff;
  color: #000;
}
.info li.red a {
  border-style: solid;
}
.info button {
  background: transparent;
  border: 1px solid #fff;
  padding: 5px 20px;
  color: #fff;
  border-radius: 50px;
  box-shadow: 0 0 0 #fff inset;
  transition: all 0.4s;
}
.info button:hover {
  box-shadow: 0 -50px 0 #fff inset;
  color: #000;
}

@media (max-width: 800px) {
  .info {
    padding: 14px;
  }
  .info h1 {
    font-size: 16px;
  }
  .info p {
    font-size: 14px;
  }
  .info.right {
    display: none;
  }
  .info.bottom {
    position: fixed;
    bottom: 0;
  }
}
#modal {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  z-index: 1000;
  transform: scale(0);
}
#modal .modal-bg {
  background: rgba(0, 0, 0, 0.6);
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
#modal .modal-bg .modal-cont h2 {
  font-weight: 400;
  font-size: 30px;
  margin-bottom: 10px;
}
#modal .modal-bg .modal-cont p {
  font-weight: 300;
  line-height: 1.6;
}
#modal .modal-bg .modal-cont button {
  float: right;
  border: 1px solid #fff;
  background: #000;
  border-radius: 20px;
  color: #fff;
  padding: 5px 10px;
  cursor: pointer;
  font-family: "NEXONLv2Gothic";
  margin-top: 10px;
}

#modal.show {
  -webkit-animation: unfoldIn 1s ease forwards;
          animation: unfoldIn 1s ease forwards;
}

@-webkit-keyframes unfoldIn {
  0% {
    transform: scaley(0.005) scalex(0);
  }
  50% {
    transform: scaley(0.005) scalex(1);
  }
  100% {
    transform: scaley(1) scalex(1);
  }
}

@keyframes unfoldIn {
  0% {
    transform: scaley(0.005) scalex(0);
  }
  50% {
    transform: scaley(0.005) scalex(1);
  }
  100% {
    transform: scaley(1) scalex(1);
  }
}
#modal.show.hide {
  -webkit-animation: unfoldOut 1s ease forwards;
          animation: unfoldOut 1s ease forwards;
}

@-webkit-keyframes unfoldOut {
  0% {
    transform: scaley(1) scalex(1);
  }
  50% {
    transform: scaley(0.005) scalex(1);
  }
  100% {
    transform: scaley(0.005) scalex(0);
  }
}

@keyframes unfoldOut {
  0% {
    transform: scaley(1) scalex(1);
  }
  50% {
    transform: scaley(0.005) scalex(1);
  }
  100% {
    transform: scaley(0.005) scalex(0);
  }
}
#modal.show .modal-bg .modal-cont {
  transform: scale(0);
  -webkit-animation: zoomIn 0.5s 0.8s ease forwards;
          animation: zoomIn 0.5s 0.8s ease forwards;
}

#modal.show.hide .modal-bg .modal-cont {
  transform: scale(0);
  -webkit-animation: zoomOut 0.5s ease forwards;
          animation: zoomOut 0.5s ease forwards;
}

@-webkit-keyframes zoomIn {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes zoomIn {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@-webkit-keyframes zoomOut {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes zoomOut {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
.code-view {
  background: #fff;
  width: 60vw;
  border: 1px solid #f2f2f2;
  border-radius: 10px;
  overflow: hidden;
}
.code-view .view-header {
  border-bottom: 1px solid #f2f2f2;
}
.code-view .view-header .dot {
  padding: 13px 10px 10px 15px;
}
.code-view .view-header .dot span {
  width: 12px;
  height: 12px;
  display: inline-block;
  border-radius: 50%;
  margin: 0 2px;
}
.code-view .view-header .dot span:nth-child(1) {
  background-color: #f56565;
}
.code-view .view-header .dot span:nth-child(2) {
  background-color: #f6e05e;
}
.code-view .view-header .dot span:nth-child(3) {
  background-color: #48bb78;
}
.code-view .view-title {
  border-bottom: 1px solid #f2f2f2;
  padding: 0 11px;
  font-family: "NEXONLv2Gothic";
}
.code-view .view-title li {
  display: inline;
  list-style: none;
}
.code-view .view-title li a {
  text-decoration: none;
  color: #cccccc;
  padding: 10px 10px 12px;
  margin: 0 5px;
  display: inline-block;
}
.code-view .view-title li.active a {
  border-top: 2px solid #667EEA;
  color: #4a5568;
}
.code-view .view-cont {
  height: 70vh;
  overflow-y: scroll;
  background: #F8F8F9;
}
.code-view .view-cont > div {
  display: none;
}
.code-view .view-cont > div:nth-child(1) {
  display: block;
}

@media (max-width: 800px) {
  .code-view {
    width: 90vw;
    font-size: 14px;
    overflow: hidden;
    padding-bottom: 10px;
    background: #f8f8f8;
  }
  .code-view .view-cont {
    height: 55vh;
  }
}